
:root {
    --bg-color: #e1e1e1;
    --text-color: rgb(36, 36, 36);
    --button-bg-color: #4c4c4c;
    --button-bg-hover-color: #727272;
    --accent-color: #6b1d1d;
}


.html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    background-color: white;
    font-weight: 400;

}

.container {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    color: var(--text-color);
}
h1 {
    font-size: 1.8em;
    font-weight: 600;
    color: var(--accent-color);
    
}
h2 {
    font-size: 1.4em;
    font-weight: 600;
    
}
.logo {
    margin: 20px 0 30px 0;
    text-align: center;
    padding: 20px;
    
}
.logo-text{
        color: var(--text-color)

}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;

    top: 0;
    position: fixed;

    height: 100vh;



}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0 0 0 0;
  padding: 0;
  align-items: flex-end;  
}

.tab {
  background: var(--bg-color);
  text-align: right;
  height: 40px;
  padding: 10px 20px;
  line-height: 40px;
  font-size: 1.2em;
  color: var(--text-color);
  width: 200px;
    border-radius: 20px 0px 0px 20px;
    transition: transform 0.3s ease;

}

.tab:hover {
    cursor: pointer;
        font-weight: 600;

}

.active-tab {
  background:white;
  color: var(--accent-color);
    font-weight: 600;
}

.content {
    display: none;
}

.active-content {
    display: block;
}

.main-content {
    padding: 20px 40px;
    width: 100%;
    left: 250px;
    margin-left: 250px;
}