.container {
  display: flex;
}

.sidebar {
  width: 180px;
  background: #e1e1e1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab {
  background: #dcdcdc;
}

.active-tab {
  background: #706666;
}

.content {
    display: none;
}

.active-content {
    display: block;
}

