.group {
  padding: 0px 15px 15px 15px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  width: 90%;
  position: relative;
  min-height: 96px;
  background-color: white;
}

.button-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

input, h3:focus, h3:active {
  outline: none !important; 
  box-shadow: none !important;
}


.input {
  all: unset;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
