.group {
  padding: 0px 15px 15px 15px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  width: 90%;
  position: relative;
  min-height: 96px;
}

.button-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
